.photo {
  border-radius: 50%;
  background-color: blueviolet;
}

.name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0.03em;
}

.info {
  margin-top: 10px;
  font-size: 20px;
  line-height: 28px;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
