.footer {
  padding: 20px 0;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid;
  border-image: linear-gradient(to right, #833ab4, #f50057, #fcb045, #b345fc)
    47% 0%;
}

.wrapper {
  display: flex;
  align-items: center;
  color: var(--secondaryTextColor);
}

.heart {
  margin: 0 15px;
}
