.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 20px;
}

.link {
  color: var(--secondaryTextColor);
  transition: color 250ms var(--timingFn);
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--accentColor);
}
